/* 
    Document   : div.css
    Created on : 22/07/2013, 05:26:39 PM
    Author     : Pablo
    Description:
        Purpose of the stylesheet follows.
*/


#espacio{
  border:10px solid white;
  background:white;
  text-align:rigth;
  width:970px;
  height:70px;
  position:relative;  
  overflow:hidden;	
}


root { 
    display: block;
}

