

#titlelogin{
    
    border: 10px solid #585858;
    height: 430px;
    margin-bottom: 171px;
    margin-left: 370px;
    width: 380px;
    font-size: 30px;
    text-align:center;
    margin-top: 2em;
    
}

#minifooter{
    border: 0px solid red;
    font-size: 10px;
    height: 28px;
    margin-bottom: 171px;
    margin-left: 388px;
    margin-top: -158px;
    text-align: left;
    width: 344px  
}
#ingresen{
    font-size: 40px;
    text-align:center;
    
}
#login-form1{
    position:absolute; 
    border: 10px solid black;
    height: 382px;
    margin-bottom: 171px;
    margin-left: 379px;
    margin-top: -573px;
    width: 361px;
    text-align:center;
}
#login{
    background: none repeat scroll 0 0 white;
    border: 0px solid red;
    height: 382px;
    margin-bottom: 171px;
    margin-left: 379px;
    margin-top: -573px;
    width: 361px;
    text-align:center;
    /*box-shadow: 2px 8px 7px black;*/
}

div.row{
   height: auto !important;
   text-align: center !important;
}

.div
{
    margin: 1em auto;
    position:absolute;
    max-width: 90%;
    /*width:1030px;*/
    /*height:600px;*/
    /*font-size:36px; */
    text-align:center;
    /*color:silver; 
    /*top:0; */
    /*left:0;*/ 
    /*display:none;*/
    /*border:0px solid white;*/
    /*padding-top: 50px;*/
    /*padding-left: -25px; */
    /*margin-left: 3em;*/
    /*background: #F2F2F2;*/
/*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F2F2F2), to(white));
background: -moz-linear-gradient(white, white);
background: linear-gradient(#F2F2F2, white);
-pie-background: linear-gradient(#F2F2F2, white);   */
}

.capaOculta { 
    display:none; 
}


.infobox {
    position:relative;
    border:0px solid #000; 
    width:73px;
    padding:5px;
    }
.infobox img {
 position:relative;
 z-index:2;
    }
.infobox .more {
 display:none;
    }
.infobox:hover .more {
 display:block;
    position:absolute;
    z-index:1;
    left:-1px;
    top:-1px;
    width:458px;
    padding:78px 5px 5px;
    border:0px solid #900;
    background-color:#FFEFEF;
    }


#espacio{
    border:10px solid white;
    background:white;
    text-align:rigth;
    width:880px;
    height:20px;
    position:relative;  
    overflow:hidden;
    margin-left: 172px; 
}
#barraVerde{
    border:10px solid white;
    background:white;
    text-align:rigth;
    width:5px; 
    height:450px; 
    margin-left: 172px; 
    margin-bottom: 128px;   
}
#barraVerde1{
    border:0px solid white;
    background:rgb(104, 173, 104);
    text-align:rigth;
    width:5px; 
    height:300px; 
    margin-left: 181px; 
    margin-bottom: 128px;
}
#fondo{
    left:130px;  
    border:10px solid white;
    background:white;
    text-align:rigth;
    width:875px; 
    height:500px;
    margin-left:-128px;
    position:relative; 
    overflow:hidden;    
}
#icono{
    float:lefth; 
    margin:10px;
    width:500px; 
    height:75px;
    margin-left:-70px;
}
#flecha-forward{
    color: #848484;
    text-decoration:none; 
}
#flecha-backward{
    color: #848484;
    text-decoration:none; 
    padding-right: 4em;
}
#enlacerenoc{
    color: green;
    
}
#capa{
    background:#E2E8EE; 
    width:600px;
    height: 420px;
    margin:6em auto;
    color: #848484;
}
#one{
    float:lefth;
    margin:10px;
    width:600px; 
    height:135px;
    margin-left: 10px;
}
#claseboot{
    float:lefth; 
    margin:0px;
    width:458px; 
    height:75px; 
    margin-left: 5em;
    padding-top: 3em;
}
#two{
    float:lefth;
    margin:10px;
    width:420px; 
    height:135px;
    margin-left: 18px;
}
#segundacapa{
    background:white; 
    height:400px; 
    width:600px;
    position:absolute; 
    top:0; 
    margin-left: 650px; 
    lefth:0;
    padding-top: 30px;
}
#three{
    float:lefth;
    margin:0px;
    width:5px; 
    height:5px;
    margin-left: 10px;
}
#barraVerdeC{
    background:rgb(104, 173, 104); 
    height:400px; 
    width:5px;
    position:absolute; 
    top:0; 
    margin-left: 1px; 
    lefth:0;
    padding-top: 30px;
}
#barraVerdeUser{
    background:rgb(104, 173, 104); 
    height:2.25em; 
    width:5px;
    position:absolute; 
    top:0; 
    margin-left: 66px; 
    lefth:0;
    margin-top: 260px;
}
#barraVerdePass{
    background:rgb(104, 173, 104); 
    height:2.25em; 
    width:5px;
    position:absolute; 
    top:0; 
    margin-left: 66px; 
    lefth:0;
    margin-top: 309px;
}
#barrablanca{
    background:white; 
    height:420px; 
    width:22px;
    position:absolute; 
    border-left: 7px solid rgb(104, 173, 104);  
    lefth:0;
}
#footer1{
    background:#151515; 
    height:40px; 
    width:100%;
    margin: 0px;        
    position:absolute; 
    top:600; 
    padding-lefth:-130; 
    padding-top: 0px;
}

#instruccion{
    border:0px solid red;
    text-align:rigth;
    width:215px; 
    height:32px; 
    margin-top: -43px; 
    margin-left: 103px;
    margin-bottom: 0spx;
    font-size: 21px;
    color: #848484;
}

#instruccion2{
    border: 0px solid red;
    color: #848484;
    font-size: 21px;
    height: 32px;
    margin-left: 95px;
    margin-top: -44px;
    width: 280px
}
#datepicker{
    border:0px solid black;
  
    width:350px; 
    height:300px; 
    margin-top: 0px; 
    margin-left: 25px;
    margin-bottom: 0px;
    font-size: 21px;
    color: #FFFFFF;
    
}


#mail{
    border:0px solid black;
    text-align:rigth;
    width:60px; 
    height:60px; 
    margin-top: 303px; 
    margin-left: -83px; 
    margin-bottom: 0spx;
    
}

#mailRenoc{
    border:0px solid black;
    text-align:rigth;
    width:60px; 
    height:60px; 
    margin-top: 303px; 
    margin-left: -178px; 
    margin-bottom: 0px;   
}

#selecFecha{
    border: 0px solid black;
    height: 28px;
    margin-left: -228px;
    margin-top: 307px;
    width: 144px;
}
#excel{
    border:px solid black;
    text-align:rigth;
    width:60px; 
    height:60px;
    margin-top: 303px; 
    margin-left: -275px; 
    margin-bottom: 0spx;
}
#barraVerde2{
    border:1px solid white;
    background:rgb(104, 173, 104);
    text-align:rigth;
    width:5px; 
    height:300px; 
    margin-left: 78px;
    margin-bottom: 0spx;  
}
#tablagris{
    border:2px solid white;
    width:auto; 
    height:301px; 
    margin-bottom: 0spx; 
    color: #848484;
}
label.tdtodos h4
{
   border:2px solid white; 
   background:#FAFAFA;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
label.td1 h4
{
   border:2px solid white; 
   background:#F2F2F2;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
label.td2 h4{
   border:2px solid white; 
   background:#E6E6E6;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
label.td3 h4
{
   border:2px solid white; 
   background:#D8D8D8;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
label.td4 h4
{
   border:2px solid white; 
   background:#BDBDBD;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
label.td5 h4
{
   border:2px solid white; 
   background:#A4A4A4;
   height: 40px;
   min-width: 185px;
   margin-left: 20px;
   padding-top: 15px;
   padding-left: 10px;
   text-align: left;
   color: #8c9591;
}
#td1{
   border:2px solid white; 
   background:#F2F2F2;
}
#td2{
   border:2px solid white; background:#E6E6E6; 
}
#td3{
   border:2px solid white; background:#D8D8D8; 
}
#td4{
   border:2px solid white; background:#BDBDBD; 
}
#td5{
   border:2px solid white; background:#A4A4A4; 
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: 40px;
  
  width: 200px;
  heigh: 5px;
  position: absolute;
  margin-left: 10px;
  margin-top:151px; 
  border:0px solid red;
}

#bodylogin
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #585858;
}

body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #whites;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 15px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#151515;
   color: #8B8B8B;
   font-size: 0.8em;
    text-align: center;
/*    background:#151515; 
    padding: 3px;
    margin: -55px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
    margin-left: 0px;
    width:100%;*/


}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}
/*********************************************************************/
input
{
    background: url("iconos.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #BFBFBF;
    padding: 5px 5px 5px 25px;
    width: 230px;
}

input.submit
{
    width: auto;
    background-position: 4px -91px;
    background-color: #999999;
    color: #FFFFFF;
    cursor: pointer;
}

input#LoginForm_username{ background-position:198px -17px; }
input.search{ background-position: 4px 4px; }
input#LoginForm_password{ background-position: 198px -39px; }
input.favorite{ background-position: 4px -70px; }

.botonLogin{
    margin-left: 2.6em;
    
}
.cargando
{
    background-color: rgba(0,0,0,0.7);
    content: "";
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1030;
}

.mensaje
{
    background-color: white;
    border: thin outset;
    color: #6E6E6E;
    width: 470px;
    position:fixed;
    text-align: center;
    padding: 23px 30px 43px 28px;
    margin: 10% auto;
    left: 30%;
    z-index: 1031;c
}

.fail
{
    color: #6E6E6E;

}

.exito
{
    color: #6E6E6E;

}

.cancelar
{
    margin-top: 30px;
    margin-left: 135px;
    text-align: center;
    width: 90px;
    height: 45px;
}

.confirma
{
     margin-top: -45px;
    margin-left: 225px;
    text-align: center;
    width: 90px;
    height: 45px;
}
.bordes
{
    border-right-color: rgb(104, 173, 104);
    border-right-width: 7px;
    border-right-style: solid;
    border-left-color: rgb(104, 173, 104);
    border-left-width: 7px;
    border-left-style: solid;
    margin-left: 100px !important;
}
.span1.offset2.barraVerde
{  
    background: rgb(104, 173, 104);
    height: 299px;
    width: 7px;
    border-right: 27px black;
    margin-top: -4px;
    margin-left: 206px;
}
#datepicker
{
    padding-left: 19px;
}
.contiene
{
    margin: 70px auto;
}
.calendario, .opciones, .titulosec
{
    float: left;
}
.titulosec
{
    color: silver;
    font-size: 3em;
    -webkit-transform:rotate(-90deg);
    width: 10%;
    margin-top: 20%;
}
.calendario
{
    width: 39%;
    border-left: 10px solid rgb(104, 173, 104);
    border-right: 10px solid rgb(104, 173, 104);
    margin-right: 1%;
}
#atras{
    margin-left: -1em;
    margin-top: 2em;
}
.opciones
{
    padding-left: 1%;
    width: 39%;
    margin-left: 1%;
}
.choice
{
    float: left;
    color: grey;
    width: 49%;
    margin-left: 1%;
}
.calendario p, .opciones p
{
    color: #848484;
    font-size: 1.5em;
}
.choice label h4
{
    text-align: left;
    background: #E6E6E6;
    padding: 6%;
    margin: -3% 0 4% 12%;
    height: 30px;
}
.span12
{
    text-align: center;
}
.primeras
{
    margin-top: 7px;
}
body div.cargandosori
{
   /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);*/
/*    border-radius: 4px 4px 4px 4px;*/
background: #FF6F6F;
color: white;
height: 40px;
left: 41%;
margin: 84px auto;
position: fixed;
top: -43px;
width: 276px;
z-index: 1;
text-align: center;
display: none;
}
